.git
.github
.worktrees
.superpowers
node_modules
**/node_modules
**/.next*
**/*.tsbuildinfo
**/.turbo
**/dist
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
runtime-logs
**/runtime-logs
/logs
/apps/*/logs
reports
**/reports
.local-storage
**/.local-storage
.env
**/.env*
*.log
**/*.log
